.middle-container {
}
.bottom-container {
  padding: 50px;
  background-color: #b0e0e6;
  color: lightcyan;
}

.top-container {
  background-color: #b0e0e6;
  padding-top: 100px;
  position: relative;
}

span {
  text-decoration: underline;
}
body {
  text-align: center;
  margin: 0;
  color: #40514e;
}
h1 {
  font-family: Dancing Script, Helvetica, Arial, sans-serif;
  color: #66bfbf;

  margin: 50px auto 0 auto;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 350px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 70px;
}
h2 {
  font-family: Acme, Helvetica, Arial, sans-serif;
  color: #66bfbf;
}
.coding {
  height: 200px;
  width: 200px;
  float: left;
  width: 15%;
  height: 15%;
  margin-right: 30px;
}
.pic {
  border-radius: 100%;
}
.profile {
  margin: 30px 0 30px 0;
}
h3 {
  color: #11999e;
}
p {
  line-height: 2;
}
.android {
  width: 250px;
  height: 200px;
  float: right;
  width: 20%;
  height: 20%;
  margin-left: 30px;
}
.program {
  font-weight: normal;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.line1 {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: lightgray;
  border-width: 5px;
  margin: 80px auto;
}
.line2 {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: lightgray;
  border-width: 5px;
  margin: auto auto 80px auto;
}
.intro {
  width: 25%;
  margin: auto;
}
.myButton {
  box-shadow: 0px 0px 0px 0px #f0f7fa;
  background-color: #33bdef;
  border-radius: 7px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Acme, Helvetica, Arial, sans-serif;
  font-size: 19px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b6178;
  margin: auto auto 30px;
}
.myButton:hover {
  background-color: #019ad2;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.query {
  margin: auto auto 40px;
}
.footer-link {
  color: #66bfbf;
  text-decoration: none;
  margin: 10px 20px 10px;
}
.footer-link:hover {
  color: #5b6178;
}
